{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock style %}

{% block title %}
    ORDERS LIST
{% endblock title %}

{% block content %}
	<br>
	<br>
	<main class="container my-4">
		<h1>Orders List</h1>
		<hr>
		<a href="{% url 'admin_panel' %}" class="btn btn-warning" role="button">Back</a>
		<br>
		<div class="row">
			{% if data %}
				{% for order in data %}
					<div class="col-md-3 mb-4">
						<div class="card shadow text-center">
						  <div class="card-body">
							<h6 class="card-text">{{order.status}}</h6>
							<h6 class="card-text">{{order.total_price}}</h6>
							<h6 class="card-text">{{order.created_at_jalali}}</h6>
                            <h6 class="card-text">{{order.user}}</h6>
							<h6 class="card-text">{{order.branch}}</h6>
							<h6 class="card-text">{{order.user_address}}</h6>
						  </div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</main>
{% endblock content %}