{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock style %}

{% block title %}
    RESTAURANTS
{% endblock title %}

{% block content %}
	<main class="container my-4">
		<h1>Restaurants List</h1>
		<hr>
		<div>
			<a href="{% url 'branches_list' %}" class="btn btn-warning" role="button">Branches List</a>
		</div>
		<br>
		<div class="row">
			{% if data %}
				{% for cat in data %}
					<div class="col-md-3 mb-4">
						<div class="card shadow">
						  <div class="card-body">
							<h6 class="card-text"><a href="/restaurant/restaurant-branches-list/{{cat.id}}">
								{{cat.name}}
							</a></h6>
						  </div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</main>
{% endblock content %}