{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"/>
    {% block style %}
        <link rel="stylesheet" href="{% static '' %}">
    {% endblock style %}
    <script type="text/javascript">
        var user = "{{request.user}}"

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
    </script>
</head>
<body style="background-image: url('https://images.squarespace-cdn.com/content/v1/518ea9e4e4b0eb1ecff22776/1493136206353-HG3KZWO0IOE18KLC4WXO/International+food+trends+happening+now?format=2500w')">
    {% block branding %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
      <a class="navbar-brand" href="#">DELIRAN</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_panel' %}">Admin Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart' %}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'foods_list' %}">Foods</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Restaurants_list' %}">Restaurants</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="get">
          {% csrf_token %}
          <div class="input-group">
              <label>
                  <input name="search" type="text" class="form-control" placeholder="Search Foods ...">
              </label>
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-warning">Search</button>
              </div>
          </div>
        </form>
      </div>
    </nav>
    {% endblock branding %}
    {% block content %}
    {% endblock content %}
    <footer class="bg-dark text-center text-white" style="margin-top: 192px">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright :
        <a class="text-white" href="#">Deliran.com</a>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% block js %}
        <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
    {% endblock js %}
</body>
</html>