{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}

{% block title %}
    HOME
{% endblock title %}

{% block content %}
    <main class="container my-4">
    <br>
	<br>
    <h1>Home!</h1>
    <p>Welcome to deliran online shop! &#128512;</p>
    {% if user.is_authenticated %}
        <div class="mymargin">
            <p>Hi {{ user.username }}!</p>
            <div>
                <a href="{% url 'logout' %}" class="btn btn-danger" role="button">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="mymargin">
            <p>You are not logged in!</p>
            <a href="{% url 'login' %}" class="btn btn-warning" role="button">Login</a>
        </div>
    {% endif %}
    <hr>
		<div class="row">
			{% if data %}
				{% for mo in data %}
					<div class="col-md-3 mb-4">
						<div class="card shadow text-center">
						  <div class="card-body">
							<h6 class="card-text"><a href="/food-detail/{{mo.menu.food.id}}">{{mo.menu.food.name}}</a></h6>
                            <h6 class="card-text"><img src="{{mo.menu.food.image.url}}"
													   class="card-img-top"></h6>
							<h6 class="card-text">
								{% for fmc in mo.menu.food.meal_category.all %}{{fmc}} ,{% endfor %}
							</h6>
							<hr>
							<h6 class="card-text">
								{% for frc in mo.menu.food.food_restaurant_category.all %}{{frc}} ,{% endfor %}
							</h6>
						  </div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
    </main>
{% endblock content %}