{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock style %}

{% block title %}
    HOME
{% endblock title %}

{% block content %}
    <br>
	<br>
    <h1>Home!</h1>
    <p>Welcome to deliran online shop! &#128512;</p>
    {% if user.is_authenticated %}
        <div class="mymargin">
            <p>Hi {{ user.username }}!</p>
            <div>
                <a href="{% url 'logout' %}" class="btn btn-danger" role="button">Log Out</a>
            </div>
        </div>
    {% else %}
        <div class="mymargin">
            <p>You are not logged in!</p>
            <a href="{% url 'login' %}" class="btn btn-warning" role="button">Login</a>
        </div>
    {% endif %}
{% endblock content %}