img {
    width: 400px;
    height: 200px;
}

body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/518ea9e4e4b0eb1ecff22776/1493136206353-HG3KZWO0IOE18KLC4WXO/International+food+trends+happening+now?format=2500w')
}