{% extends "base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '' %}">
{% endblock style %}

{% block title %}
    HOME
{% endblock title %}

{% block content %}
    <br>
	<br>
	<main class="container my-4">
		<h1>Sign Up</h1>
		<hr>
		<div>
            <a href="{% url 'signup' %}" class="btn btn-danger" role="button">Back</a>
		</div>
		<br>
		<div class="row">
            <div class="card shadow p-4">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-warning">Signup</button>
                </form>
            </div>
		</div>
	</main>
{% endblock content %}